
#p{
	background-color: #828280;
	width: 430px;

}
h1{
		font-size: 40px;
		color:  #00004d;
}
a{
	font-size: 30px;
	color:  #00e6e6;

}
body{
	background-image: url(401394-wolf.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
