#p{
																						
	height: 100%;

}
h1{		
		background: -webkit-linear-gradient(rgb(104, 208, 229), rgb(220, 220, 244));
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;	

		font-family: Cursive;
		font-size: 50px;
		color: rgb(0, 0, 77);
}
a{
	background: -webkit-linear-gradient(#1a0066, #000000);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	font-weight: bolder;
	font-family: cursive;					
	font-size: 30px;
	font-style: Cursive;
	color: rgb(161, 141, 233);

}
body{
	background-image: url(401394-wolf.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
